<h1>Programação</h1>

<div id="programacao">
  <% @presentations.each do |presentation| %>
    <div class="atividade">
      <div class="cabecalho">
        <%= presentation.kind %> - <%= presentation.title %> <span><%= presentation.time %></span>
      </div>
      <div class="dados">
        <%= presentation.summary %><br/>
        Local: <strong><%= presentation.room %></strong>
        <% presentation.speakers.each do |speaker| %>
          <div class="responsavel">
            <div class="foto">
              <%= image_tag speaker.photo_link || "", :title => speaker.name, :alt => "" %>
            </div>
            <div class="descricao">
              <strong><%= speaker.name %></strong>
              <br/>
              <%= speaker.summary %><br/>
              Organização: <strong><%= speaker.organization %></strong>
            </div>
            <div class="site">
              <% if speaker.twitter_link.present? %>
                <a href='<%= speaker.twitter_link %>'>
                  <%= image_tag 'twitter.png', :alt => 'Twitter', :title => 'Twitter' %>
                </a>
              <% end %>
              <% if speaker.github_link.present? %>
                <a href='<%= speaker.github_link %>'>
                  <%= image_tag 'github.png', :alt => 'Github', :title => 'github' %>
                </a>
              <% end %>
              <% if speaker.site.present? %>
                <a href='<%= speaker.site %>'>
                  <%= image_tag 'site.png', :alt => 'Site/Blog', :title => 'Site/Blog' %>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

