<h1>Programação</h1>

<div id="programacao">
  <% @presentations.each do |presentation| %>
    <div class="atividade">
      <div class="cabecalho">
        <%= presentation.kind %> - <%= presentation.title %> <span><%= presentation.time %></span>
      </div>
      <div class="dados">
        <%= presentation.summary %><br/>
        Local: <strong><%= presentation.room %></strong>
        <div class="responsavel">
          <div class="foto">
            <%= image_tag presentation.speaker.photo.url, :title => presentation.title, :alt => "" %>
          </div>
          <div class="descricao">
            <strong><%= presentation.speaker.name %></strong>
            <br/>
            <%= presentation.speaker.summary %><br/>
            Organização: <strong><%= presentation.speaker.organization %></strong>
          </div>
          <div class="site">
            <a href='<%= presentation.speaker.twitter_link %>'>
              <%= image_tag 'twitter.png', :alt => 'Twitter', :title => 'Twitter' %>
            </a>
            <a href='<%= presentation.speaker.github_link %>'>
              <%= image_tag 'github.png', :alt => 'github', :title => 'github' %>
            </a>
            <a href='<%= presentation.speaker.site %>'>
              <%= image_tag 'site.png', :alt => 'Site/Blog', :title => 'Site/Blog' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

